*{
  color: #212121;
  font-family: system-ui;
}

h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 20px 0;
}

nav ul{
  width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

nav li{
  list-style: none;
  text-align: center;
}

nav a{
  margin: 0 10px;
  display: block;
  text-decoration: none;
  font-size: 32px;
}

nav div{
  padding: 20px 10px;
  display: flex;
}

nav img{
  height: 36px;
  padding: 0 10px 0 0;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  background-color: indianred;
}





section{
  background-color: burlywood;
  padding: 10px;
  border: solid 1px gray;
}

.profile-title{
  display: flex;
}

.work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-box{
  background-color: chocolate;
  border: solid 2px black;
  height: 300px;
  width: 45%;
}

.skill{
  background-color: khaki;
  display: flex;
  justify-content: center;
}

.skill-box{
  background-color: lightgoldenrodyellow;
  width: 40%;
}

.skill-mini-box{
  background-color: maroon;
  display: flex;
  justify-content: center;
}

footer{
  text-align: center;
  margin: 10px;
}