* {
  color: #212121;
  font-family: system-ui;
}

body {
  background-image: url(./images/header.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 20px 0;
  text-shadow: 1px 1px 1px #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff;
}

nav div {
  padding: 10px;
  display: flex;
}

nav img {
  height: 1em;
  margin-right: 10px;
  filter: drop-shadow(1px 1px 0 #ffffff);
}

section {
  margin: 50px 200px;
  padding: 0 20px 20px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 10px 0 rgba(33, 33, 33, 0.5);
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding: 20px 0 20px;
}

.profile {
  display: flex;
  align-items: center;
}

div.profile img {
  height: 10em;
  border: solid 2px rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  margin: 10px 20px;
}

div.profile p {
  line-height: 1.5;
  margin: 10px 20px;
  font-size: 1.25em;
}

.skill {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
}

.skill-mini-box {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

div.skill-mini-box li {
  font-size: 1.25em;
  list-style: none;
  text-align: center;
  margin: 10px;
  white-space: nowrap;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-box {
  width: calc((100% - 20px) / 2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.works-box img {
  margin-bottom: 10px;
  width: 100%;
}

div.works-box p {
  line-height: 1.5;
  font-size: 1em;
  padding: 0 10px 10px;
}

.contact {
  display: flex;
  justify-content: center;
}

ul.contact li {
  list-style: none;
}

ul.contact a {
  margin: 10px;
  display: block;
  text-decoration: none;
  font-size: 2em;
}

ul.contact div {
  padding: 10px;
  display: flex;
}

ul.contact img {
  height: 1em;
  margin-right: 10px;
}

footer {
  text-align: center;
  margin: 0.75em;
}

@media screen and (max-width: 1024px) {
  section {
    margin: 50px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.75em;
    margin: 0.5em 0;
  }

  nav a {
    margin: 2.5px;
    font-size: 1.5em;
  }

  nav div {
    padding: 5px;
  }

  section {
    margin: 10px 0;
  }
  
  h2 {
    font-size: 2em;
    padding: 0.5em 0;
  }
  
  .profile {
    flex-direction: column;
  }
  
  div.profile img {
    height: 15em;
  }
  
  div.profile p {
    margin: 10px 0;
  }
  
  .skill {
    flex-direction: column;
  }

  .works-box {
    width: 100%;
  }
  
  div.works-box p {
    font-size: 1.25em;
    padding: 0 0 10px;
  }
  
  .contact {
    flex-direction: column;
    align-items: center;
  }
  
  ul.contact a {
    margin: 2.5px;
    font-size: 1.5em;
  }
  
  ul.contact div {
    padding: 5px;
  }
}